[Desktop Entry]
Version=0.3
Name=Apple Music
GenericName=Apple Music
Comment=Apple Music
Type=Application
Icon=${SNAP}/meta/gui/apple-music-for-linux.png
Exec=apple-music-for-linux
